@import url('https://fonts.googleapis.com/css?family=Montserrat:600,600i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i');
@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');

* {

    font-family: Arial; color: #333;
    box-sizing: border-box;

}

body,html {

    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

body {

    font-size: 16px;

}

body article {

    transition: all 0.5s;
    opacity: 1;

}

    body article.loading {

        display: none;
        font-size: 3em;
        color: #CCC;
        text-align: center;
        margin: 200px;

    }
    
    body.loading article.loading {

        display: block;

    }
    body.loading article:not(.loading) {

        opacity: 0;

    }

    /***** Typography *****/

    h1, h2, h3, h4, h5 {

        font-family: 'Montserrat', sans-serif;
        font-weight: 600;

    }


    .search-bar {

        background: #0c2577;
        padding: 1rem;

    }

        .search-bar .search {

            max-width: 1280px;
            margin: 0 auto;
            color: #fff;

        }

    /***** Main header *****/

    body > header {

        background: #fff;
        padding: 1rem;
        color: #0c2577;

    }

        body > header nav {

            max-width: 1280px;
            margin: 0 auto;

        }

        body > header nav a h1 {
            
            text-indent: -10000px;
            font-size: 0;

        }

    .region-picker header {
        
        text-align: center;
        padding: 2rem 1rem;

    }

        .region-picker header h2 {
            
            margin: 0 0 0.5rem 0;

        }

        .region-picker header p {

            margin: 0;

        }

    .region-home header {

        background-position: center center;
        background-size: cover;
        display: flex;
        text-align: center;

    }

        .region-home header .name {

            flex: 1;
            font-size: 100px;
            color: white;
            opacity: 0.95;
            white-space: nowrap;
            overflow: hidden;
            align-self: center;
            padding: 50px;

        }

    .region-picker nav {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
        padding: 1rem;
        background: #fff;
        max-width: 1280px;
        margin: 0 auto;

      }

        .region-picker nav a {

            height: 240px;
            position: relative;
            background-size: cover;
            cursor: pointer;
            transition: filter 0.25s ease-in;

        }

            .region-picker nav a:hover {

                filter: grayscale(100%);

            }


            .region-picker nav a span {

                position: absolute;
                bottom: 1rem;
                left: 1rem;
                font-size: 1.5rem;
                color: #fff;

            }

        @media only screen and (min-width: 768px) {

            .region-picker nav {

                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-gap: 1rem;
                padding: 1rem;
        
            }

            .region-picker nav a:first-child {
                
                grid-column: 1 / 3;
                
            }

        }

/***** job list page *****/

.jobs {

    max-width: 1280px;
    padding: 1rem;
    margin: 0 auto;

}

    .jobs .no-results {

        text-align: center;
        margin: 4rem 0rem;
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        padding: 2rem 0;

    }

        .jobs .no-results::before {

            content:'\f002';
            font-family: 'Font Awesome 5 Free';
            position: relative;
            display: inline-block;
            font-size: 2rem;
            background: #efefef;
            border-radius: 4px;
            padding: 0.5rem;
            font-weight: 600;

        }