* {

    font-family: Arial; color: #333;
    box-sizing: border-box;

}

body {

    font-size: 16px;

}

body article {

    transition: all 0.5s;
    opacity: 1;

}

    body article.loading {

        display: none;
        font-size: 3em;
        color: #CCC;
        text-align: center;
        margin: 200px;

    }
    
    body.loading article.loading {

        display: block;

    }
    body.loading article:not(.loading) {

        opacity: 0;

    }

    .region-picker nav {

        display: flex;
        height: 400px;

    }
    .region-picker .job-region {

        display: flex;
        flex: 1;
        vertical-align: top;
        padding: 10px;

    }
    .region-picker .job-region:hover {

        background-color: #EEE;

    }
    .region-picker img {

        align-self: flex-start;
        max-width: 400px;
        max-height: 400px;

    }

    .region-home header {

        background-position: center center;
        background-size: cover;
        height: 200px;
        display: flex;

    }
    .region-home header .name {

        flex: 1;
        font-size: 100px;
        color: white;
        opacity: 0.95;
        white-space: nowrap;
        overflow: hidden;
        align-self: center;
        padding: 50px;

    }


    .regions {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "Belfast"  "South-East" "South-West" "North-West" "North-East";
        grid-gap: 1rem;
        padding: 1rem;
        background: #fff;

      }

        .regions a {

            height: 240px;
            position: relative;
            background-size: cover;
            cursor: pointer;
            transition: filter 0.25s ease-in;

        }

            .regions a:hover {

                filter: grayscale(100%);

            }


            .regions a span {

                position: absolute;
                bottom: 1rem;
                left: 1rem;
                font-size: 1.5rem;
                color: #fff;

            }
        
        .belfast { 
            
            grid-area: Belfast; 

        }
    
        .south-east { 
        
            grid-area: South-East; 
    
        }
    
        .south-west { 
        
            grid-area: South-West; 

        }
    
        .north-west { 
        
            grid-area: North-West; 
    
        }
    
        .north-east { 
        
            grid-area: North-East;
    
        }

        @media only screen and (min-width: 768px) {

            .regions {

                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-template-areas: "Belfast Belfast South-East" "South-West North-West North-East";
                grid-gap: 1rem;
                padding: 1rem;
        
            }

        }